*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    overflow-x: hidden;
}

/* Header */
.header
{
    /* position: sticky; */
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

/* Header__container */
.header__container
{
    height: inherit;
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 460px;
    margin-right: 460px;
}

/* Nav-bar */
.nav-bar
{
    height: inherit;
    display: flex;
    align-items: center;
    
    font-family: Georgia;
    font-size: 19px;
}

/* Nav__link */
.nav__link
{
    display: inherit;
    justify-content: center;
    align-items: center;

    height: inherit;
    text-decoration: none;
    color: #464646;
}

/* Nav__about-icon */
.nav__icon
{
    margin-right: 10px;
}

/* Nav__about */
.nav__about
{
    width: 140px;
}

/* Nav__hobby */
.nav__hobby
{
    width: 160px;
}

/* Nav__films */
.nav__films
{
    width: 234px;
}

.nav__link:hover
{
    color: white;
    background-color: #15a98c;
}

.nav__link:hover .nav__icon
{
    filter: brightness(4.5);
}

/* Site-background */
.site-background
{
    position: absolute;
    z-index: -999;
}

/* Container */
.container
{
    display: flex;
    justify-content: space-between;

    max-width: 1000px;
    min-height: 100%;
    height: 954px;
    margin: 195px 460px 0px 460px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Column wrapper 1 */
.column-1
{
    display: flex;
    flex-direction: column;
    width: 330px;
}

/* Column wrapper 2 */
.column-2
{
    display: flex;
    flex-direction: column;
    width: 570px;
}

.wrapper1
{
    margin-bottom: 50px;
    height: 350px;
}

.content
{
    max-width: 1000px;
    min-height: 1170px;
    margin: 195px 460px 0px 460px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-avatar
{
    height: 350px;
    width: 330px;
    margin-right: 60px;
    margin-bottom: 50px;
    padding-top: 15px;
}

.content__image
{
    height: inherit;
    width: inherit;

    object-fit: none;
    object-position: 45%;
    border-radius: 5px;
}

.content-quote
{
    padding-left: 3px;
    margin-bottom: 50px;
    max-width: 550px;
    max-height: 300px;
    height: 205px;

    color: white;
}

.quote-icon
{
    height: 79px;
}

.quote__text
{
    padding-top: 40px;

    font-family: Georgia;
    font-style: italic;
    font-size: 28px;
    text-align: left;
    line-height: 42px;
}

.quote__author
{
    margin-top: 2px;
    padding-left: 3px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
}

.content-rating
{
    width: 330px;
    margin-right: 60px;
}

.content-fav_writers
{
    margin-bottom: 46px;
}

.content-rating__label 
{
    margin-top: -6px;
    margin-bottom: 13px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    color: #15a98b;
}

.content-rating_list
{
    margin-left: 21px;

    font-family: Georgia;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
}

.fav_films__first
{
    margin-left: -2px;
}

.about
{
  max-width: 570px;
  /* display: inline-block; */
}

.about__name
{
    padding-left: 4px;
    margin-top: -17px;
    margin-bottom: 20px;

    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    color: #333333;
}

.underline
{
    height: 6px;
    width: 60px;
    border-radius: 3px;
    background-color: #00C4AA;
    margin-bottom: 44px;
}
  
.about_me__text
{
    margin-bottom: 38px;

    font-family: Georgia;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
}

.about-hobby__label
{
    margin-left: -2px;
    margin-bottom: 12px;

    font-family: 'Open Sans';
    font-size: 36px;
    color: #333333;
}

.write_me
{
    margin-top: 46px;
    font-family: Georgia;
    font-size: 19px;
    color: #15a98b;
}

.write_me:hover
{
    color: #098d72;
}

.write_me__link, .write_me__arrow
{
    display: inline-block;
    position: relative;
}

.write_me__link::after
{
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #15a98b88;
}

.write_me__link:hover::after
{
    background-color: #098d72;
}

/* Films container */
.films-container
{
    height: 1041px;
    width: 100%;
    margin-bottom: 41px;

    background-color: #f9f9f9;
}

/* Films container inner */
.films-container__inner
{
    display: flex;
    flex-direction: column;

    height: 100%;
    margin-left: 360px;
    margin-right: 360px;
}

/* Films container title */
.films-container__title
{
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 111px;

    font-family: 'Open Sans';
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}

/* Films container list */
.films-container__list
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    height: max-content;
    max-height: 900px;
}

/* Film column */
.film-column
{
    width: 100%;
    max-width: 285px;
    height: fit-content;
    max-height: 900px;
}

/* Film screenshot */
.film-screenshot
{
    height: 190px;
    width: inherit;
    margin-bottom: 19px;

    border-radius: 5px;
    object-fit: none;
    background-color: #464646;
}

/* Film screenshots */
.film-screen-1
{
    object-position: 66% -18%;
}

.film-screen-2
{
    object-position: 16% 35%;
}

.film-screen-3
{
    object-position: 47% 15%;
}

.film-screen-4
{
   object-position: 15% 50%;
}

.film-container__title
{
    margin-left: -2px;
    margin-bottom: 17px;

    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #333333;
}

.film-container__desc
{
    font-family: Georgia;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
}

.button-all_films
{
    align-self: center;
    margin-left: -21px;
    
    height: 50px;
    width: 220px;

    background: none;
    background-color: #15a98c;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    outline: none;

    font-family: Georgia;
    font-size: 19px;
    color: white;

}

.button-all_films:hover
{
    background-color: #098d72;
}

.write-me
{
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.write-me__label
{
    max-width: inherit;

    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: -5px;
    margin-bottom: 67px;
}

.write-me__text
{
    margin-left: 25px;
    margin-right: 25px;

    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 36px;
    color: #333333;
}
  
.line
{
    height: 1px;
    width: 200px;
    align-self: center;
    background-color: #c4c4c4;
}

.input-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 735px;
    max-width: inherit;
}

.info__container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 303px;
}

.gender__container
{
    width: 540px;
}

.input__text
{
    height: 46px;
    width: 518px;
    padding-left: 18px;

    border-radius: 3px;
    border-color: #c9c9c9;
    border-style: solid;
}

.input__text:focus
{
    outline: none;
    border-color: #15a98c;
}

.input__select
{
  height: 50px;
  width: 540px;

  border-radius: 3px;
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 2px;
  padding-left: 15px;

  font-family: 'Open Sans';
  font-size: 18px;
  color: #555555;

  appearance: none;
  background: url("../images/input-select-arrow-down.png") 498px center no-repeat;
}

.input__select:focus
{
    outline: none;
    border-color: #15a98c;
}

.input__label
{
    margin-bottom: 5px;

    font-family: 'Open Sans';
    font-size: 20px;
    color: #333333;
}

.gender__label
{
    margin-bottom: 10px;
}

.asterisk
{
   color: #ee0707;
}

.radio-btn__text
{
  display: inline;

  font-family: 'Open Sans';
  font-size: 18px;
  color: #333333;
}

.message__container
{
    padding-bottom: 3px;
}

.btn__male
{
    margin-right: 40px;
}

#gender__male, #gender__female
{
    margin-right: 6px;
}

#input__message
{
    resize: none;
    height: 146px;
    width: 536px;

    border-radius: 3px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 2px;
}

#input__message:focus
{
    outline: none;
    border-color: #15a98c;
}

.button__container
{
    width: 540px;
}

#submit-btn
{
    height: 50px;
    width: 220px;

    background: none;
    background-color: #15a98c;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    outline: none;

    font-family: Georgia;
    font-size: 19px;
    color: white;
}

#submit-btn:hover
{
    background-color: #098d72;
}

#footer
{
    height: 70px;
    width: 100%;

    background-color: #f9f9f9;
    font-size: 16px;
    font-family: Georgia;
    color: #555555
}

.footer__text
{
    display: flex;
    height: inherit;
    /* width: max-content; */
    justify-content: center;
    align-items: center;
    padding-right: 22px;
}