.photo-block span
{
    font-size: 14px;
}

.content
{
    max-width: 50%; 
    font-size: 20px;
}

.content-education span
{
    font-weight: bold; 
    text-decoration: underline;
}

.penult-element::marker
{
    content: "";
}